<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="StdOut" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} %-5level %logger{1} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>

        <!-- obecne manta -->
        <logger name="eu.profinit.manta" level="debug" additivity="false">
            <AppenderRef ref="StdOut"/>
        </logger>

        <!-- default (soft tretich stran) jen chyby -->
        <Root level="error">
            <AppenderRef ref="StdOut"/>
        </Root>
    </Loggers>
</Configuration>